footer {
  height: 123px;
  background: $black;
  @include flex-centered;
  cursor: default;

  div {
    @include flex-space-between;

    .social-icons {
      width: 600px;
      font-size: 25px;
      color: $orange;

      i {
        cursor: $cursor;
        transition: 0.3s;

        &:hover {
          opacity: 0.65;
        }
      }
    }

    p {
      color: $white;
      font-size: 18px;
      opacity: 0.5;
    }
  }
}

@media (min-width: 768px) and (max-width: 920px) {
  footer {

    div {

      .social-icons {
        width: auto;

        i {
          padding: 0 25px;
        }
      }
    }
  }
}

@media (max-width: 768px) {

  footer {
    
    div {
      flex-direction: column;

      .social-icons {
        flex-direction: row;
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}