footer {
  height: 123px;
  background: $black;
  @include flex-centered;

  div {
    @include flex-space-between;

    .social-icons {
      width: 600px;
      font-size: 25px;
      color: $orange;

      i {
        cursor: $cursor;
      }
    }

    p {
      color: $white;
      font-size: 18px;
      opacity: 0.5;
    }
  }
}

@media (max-width: 768px) {

  footer {
    
    div {
      flex-direction: column;

      .social-icons {
        flex-direction: row;
        width: 100%;
        padding: 10px 0;
      }
    }
  }
}