* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background: $black;
  padding-bottom: 1000px;
}

.wrapper {
  margin: 0 auto;
  width: 1500px;
}