nav {
  @include flex-centered;
  position: fixed;
  width: 100%;
  background: $black;
  z-index: 99;

  div {
    @include flex-space-between;
    margin: 0 auto !important;
    width: 100%;
    height: 72px;
  
    img {
      cursor: $cursor;
      transition: 0.3s;

      &:hover {
        opacity: 0.6;
      }
    }
  
    .links {
      @include flex-space-between;
      width: 500px;
      list-style: none;

      li {
        
        &::after {
          content: '';
          width: 0%;
          position: relative;
          top: 25px;
          border-radius: 5px;
          height: 3px;
          background: $orange;
          display: block;
          margin: auto;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }

        a {
          color: $white;
          text-decoration: none;
          opacity: 0.69;
          transition: 0.3s;
  
          &:hover {
            cursor: $cursor;
            opacity: 1;
          }
        }
      }
    }
    #burger {
      display: none;
      font-size: 2rem;
      color: white;
    }
  }
}

.links2 {
  transform: translateY(-81%);
  position: fixed;
  width: 100%;
  z-index: 98;
  div {
    display: flex;
    background: $black;
    flex-direction: column;
    padding: 0;
    padding-top: 72px;
    width: 100%;
    transition: 0.5s;
    // display: none;

    a {
      color: white;
      font-weight: $semibold;
      font-size: 2rem;
    }

    a:nth-of-type(even) {
      @include flex-centered;
      width: 100%;
      padding: 10px 0;
      text-decoration: none;
      background: #222222;
    }

    a:nth-of-type(odd) {
      @include flex-centered;
      width: 100%;
      padding: 10px 0;
      text-decoration: none;
      background: #171717;
    }
  }
}

.translate {
  transform: translateY(81%);
}

.rotate {
  transform: rotate(-90deg);
}

// Burger
@media (max-width: 768px) {
  nav>div>.links {
    display: none;
  }

  nav>div>#burger {
    display: block;
  }
}
