/* Swiper css */

.swiper-wrapper {
  flex-direction: row;

  .swiper-slide {
    justify-content: flex-end;

    .feedback {
      width: 273px;
      height: auto;
      
      .comment {
        background: #6696E2;
        border-radius: 8px;
        padding: 20px;

        p {
          color: $white;
          line-height: 22px;
        }
      }
      
      .profile {
        width: 100%;
        flex-direction: row;

        .img {
          width: 100px;
          height: 100px;
          background: url(../images/section-6-avatar.png) no-repeat center / contain;
          margin-right: 15px;
          position: relative;

          &::before {
            content: "";
            top: -5px;
            border: 15px solid transparent;
            border-top-color: #6696E2;
            position: absolute;

          }
        }

        .info {
          width: 100%;
          height: 20%;
          margin-bottom: 20px;
          align-items: flex-start;

          h2 {
            font-size: 20px;
            font-weight: $regular;
            margin-bottom: 5px;
          }

          p {
            font-size: 14px;
            color: #86878B;
          }
        }
      }
    }
  }
}

.swiper-pagination {
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.swiper-pagination-bullets {
  gap: 15px;
}

.swiper-pagination-bullet-active {
  background-color: $orange !important;
}

.swiper-pagination-bullet {
  border: 1px solid $orange;
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  color: $orange;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}
